/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.editorconfig
config~HEAD
description
HEAD
.env.backup
/hooks
/info
/.idea
/.phpintel
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
